.paragraphBody{
    background: #f2f2f2;
    text-align: center;
    color: #171717;
    font-size: 1.8rem;
    padding: 10px;
    text-overflow: ellipsis;
    min-height: 241px;
}
.title{
  padding: 0 20px;
  font-weight: bold;
}
.date{
  padding: 0 20px;
  font-weight: bold;
  color: grey;
}
.description{
  font-size: 17px;
  padding: 10px 2px;
  color: #2b2626;
}
@media only screen and (min-width: 768px) {
    .paragraphBody {
      width: 91.8%;
    }
}